/*  
Author: Sheheer Ullah Jan
File Name: styles.css
Date: 08/27/2024
*/

/*
CSS Reset
*/
body, header, nav, main, footer, img, h1, h3, ul, video {
    margin: 0;
    padding: 0;
    border: 0;
}
/*
Style rules for body and images
*/

body {
    background-color: #f6eee4;
}
img, video {
    max-width: 100%;
    display: block;
}

/*
Style rules for skip navigtion link
*/

.skip {
    color: #2a1f14;
    text-decoration: none;
    position: absolute;
    padding: 0.5%;
    top: auto;
    left: auto;
    right: 1px;
    z-index: 1;
}

.skip:hover {
    color: #fff;
    background-color: #2a1f14;
    text-decoration: none;
    padding: 0.5%;
    top: auto;
    left: auto;
    right: 1px;
    z-index: 1;
}
/*
Style rules for header area
*/

.mobile h1 {
    margin: 2% 0 0 3%;
}
.mobile h1, .mobile h3 {
    padding: 2%;
    text-align: center;
}
.mobile h1 {
    font-family: "Emblema One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.mobile h3 {
    font-family: "Lora", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/*
Style rules for navigation area
*/

nav {
    background-color: #2a1f14;
}

/*
Style rules for main content
*/

main {
    padding: 2%;
    font-family: "Lora", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
}

main ul {
    list-style-type: square;
}

/*
Style rules for class and id selectors 
*/

.link {
    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

.round {
    border-radius: 6px;
}

#info ul {
    margin-left: 10%;
}
#contact, #form h2 {
    text-align: center;
}
.tel-link {
    background-color: #2a1f14;
    padding: 2%;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}
.tel-text {
    color: #f6eee4;
    text-decoration: none;
    font-weight: bold;
}

#questions  p {
    cursor: pointer;
}

#answer {
    text-align: center;
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
}

#answer h2 {
    display: none;
}
/*
Style rules for form elements 
*/
fieldset, input, textarea {
    margin-bottom: 2%;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
}

label {
    display: block;
    padding-top: 2%;
}

form #submit {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 2%;
    background-color: #78593a;
    color: #f6eee4;
    font-size: 1.25em;
    border-radius: 10px;
}

/*
Style rules for footer content
*/

footer {
    text-align: center;
    font-size: 0.85em;
    color: #f6eee4;
    background-color: #2a1f14;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0%;
    padding-right: 0%
}

footer a {
    color: #f3e6d8;
    text-decoration: none;
}

.social img {
    display: inline-block;
    padding: 4%;
}
/*
Style rules for mobile viewport
*/

.mobile, .mobile-tablet {
    display: block;
}

.tab-desk, .desktop, #nav-links {
    display: none;
}

.mobile-nav a {
    color: #fff;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

.mobile-nav a.nav-icon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: #f6eee4;
    padding: 2%;
}

.nav-icon div {
    height: 40px;
    width: 40px;
    color: #2a1f14
}
/*
Style rules for desktop viewport
*/
@media screen and (min-width: 720px) {
    .mobile, .mobile-tablet, .mobile-nav {
        display: none;
    }
    
    .tab-desk, .desktop {
        display: block;
    }
    nav li {
        border-top: none;
        display: inline-block;
        font-size: 1.5em;
        font-family: Geneva, Arial, sans-serif;
        font-weight: bold;
        
    }
    nav li a:hover {
        background-color: #f6eee4;
        color: #2a1f14;
        opacity: .5
    }

    nav li a {
        display: inline-block;
        color: #f6eee4;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 2em;
        padding-right: 2em;
        text-decoration: none;
    }

nav ul {
    list-style-type: none;
    text-align: center;
}

/* Style rules for table */
table {
    border: 1px solid #2a1f14;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
}

th, td {
    border: 1px solid #2a1f14;
    padding: 1%;
}

tr:nth-child(odd) {
    background:#dfc7b1;
}

th {
    background-color: #2a1f14;
    color: white;
    font-size: 1.15em;
}

/*
Tablet Viewport: Style rule for form element
*/
form {
    width: 70%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

/* Tablet Viewport: Style rules for footer area */ 

footer {
    overflow: auto;
}
.copyright {
    float: left;
    width: 65%;
}
.social {
    float: right;
    width: 25%;
}
}


@media screen and (min-width: 1281px) {
    form {
        width: auto;
    }
    .form-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }
    .btn {
        grid-column: 1 / span 2;
    }
}